.all{
      display: flex;
      flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    text-align: center;
}

.h1{
    font-size: 50px;
    line-height: 76px;
    margin-top: 150px;

    
}
.vazio{
    font-size: 50px;
    margin-bottom: 15px;
}

.adicione{
 font-size: 20px;

} 
 .img-text{
  margin-bottom: 100px;
  margin-top: 40px;
 }

 @media screen and (max-width: 768px){
 
 .h1{
    font-size: 35px;
    margin-top: 250px;
 }
    .img-text{
  margin-top: 132px;
  margin-bottom: 273px;
 }
 .img{
    width: 148px;
    height: 148px;

 }
 .vazio{
    font-size: 40px;
    margin-bottom: 16px;
 }
 .adicione{
    font-size: 16px;
 }
}