@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

.car{
    font-family: "Sofia Sans";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    
}
.car h1{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 64px;
    font-weight: bold;
    
    
}
.title{
    font-size: 32px;
    margin-bottom:64px;
    margin-top: 32px;
    max-width: 80%;
    align-self: center;
}
.Car-item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 830px;
    height: 234px;
    padding: 10px;
    margin: 10px 0; 
    margin-bottom: 32px;
    background-color: #F3F3F3;
    border-radius: 8px;
    position: relative;
}

.quadrinho {
    max-width: 100%;
    height: 170px;
    width: 122px;
    margin:16px;
   
  
}

.item-detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
   
}
.quantity-control button:disabled{
    background-color:#BABABA ;
}

.quantity-control{
    display: flex;
    width: 117px;
    height: 38.64px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    margin-bottom:61.34px;
}


.quantity-control button{
    background-color: #ff8100;;
    color: #F3F3F3;
    border:none;
    font-size: 36px;
    align-items: center;
    font-weight: bold;
     width: 38.64px;
     height: 38.64px;
     border-radius: 50%;
    display: flex;
    justify-content:center;


}
.remove-item{
    margin-left: 15px;
    background-color: #ff8100;
    border-radius: 0px 8px;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    margin-top: -10px;
    position: absolute;
    right: 0;
}
.remove-item img{
    width: 48px; 
    height: 46px
}

.product-price {
    text-align: right;
    font-size: 32px;
    font-weight: bold;
    color: #272635;
    position: absolute; 
    bottom: 32px;
    right: 16px; 
    
  
 }
 @media screen and (max-width:768px){
   .car{
    margin-bottom: 32px;
    text-align: center;
   }
    .car h1{
         font-size: 32px;
        
    }
    .title{
        font-size: 16px;
     
      
    }
    .quadrinho{
        align-items: center;
        margin-bottom: 16px;
        margin-top: 32px;
        
    }
    .Car-item{
        flex-direction: column;
        align-items: center;
        width: 359px;
        height: 402px;
        position: relative;
        
     
   
    }

    .quantity-control {
      align-items: center;
      margin-left: 121px;
      margin-right: 121px;
  


    }
  
    .product-price {
      text-align: center; 
      margin-top: 12px;
      font-size: 32px;
      position:static;
      margin-bottom: 32px;
    
    }
  
    .Car-item {
      flex-direction: column;
      align-items: center;
    }
    .remove-item{
        margin-left: 340px;
        position: absolute;
    }
}